p{color: #FFD700;
	text-indent: 100px;

}
img{border-radius: 300px 300px;
border:solid;
border-color:#8B0000
 } 
.text1{text-decoration: blink;
	margin-left: 500px;
	border:solid;
	border-color: #8B0000;
	width: 300px;
	height: 300px;
	border-radius: 100px 0px;
	background-color: #000000;

}


